@page "/data-binding"

<h1>Data Binding</h1>

<input type="text" bind="TextOnBlur" />

<p>@TextOnBlur</p>

<h1>Data Binding</h1>

<input type="text" onchange=@(eventArgs => ChangeValue(eventArgs)) />

<p>@TextOnChange</p>

@functions{
    string TextOnBlur { get; set; } = string.Empty;
    string TextOnChange { get; set; } = string.Empty;

    void ChangeValue(UIChangeEventArgs eventArgs)
    {
        TextOnChange = eventArgs.Value as string;
    }
}

