@page "/wrapper"

<h1>Child Content</h1>

<p>before Wrapper</p>
<ComponentWrapper>
    <p><i>child content here</i></p>
</ComponentWrapper>
<p>after Wrapper</p>

<GrayScale>
    <h2>this text should be in GrayScale</h2>
</GrayScale>